@tailwind base;
@tailwind components;
@tailwind utilities;

#cta {
  background-image
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }
}

#cta {
  background-image: u
}
